footer {
	position: relative;
}
.global-comment-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.comment-global-gallery-img-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 700px;
	margin-top: 50px;
}
.comment-gallery-img {
	width: 640px;
	margin-top: 20px;
}

.actual-comments-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.comment-box, .add-comment-box {
	display: flex;
	flex-direction: column;
	box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
	margin-bottom: 20px;
	padding: 20px;
}
.comment-box, .add-comment-box, .actual-comment p {
	width: 660px;
}
.actual-comment p {
	overflow-wrap: break-word;
}
.author-date-container {
	display: flex;
	align-items: center;
}
.comment-author {
	font-size: 18px;
	font-weight: 550;
	margin: 0;
}
.comment-date {
	font-size: 10px;
	margin: 0 0 0 20px;
}
.delete-comment-button {
	text-align: center;
	margin-left: 525px;
	padding: 0;
}
@media screen and (max-width: 750px) {
	.comment-global-gallery-img-container {
		width: 480px;
	}
	.comment-gallery-img {
		width: 430px;
	}
	.comment-box, .add-comment-box, .actual-comment p {
		width: 440px;
	}
	.delete-comment-button {
		margin-left: 300px;
	}
}
@media screen and (max-width: 550px) {
	.comment-global-gallery-img-container {
		width: 355px;
	}
	.comment-gallery-img {
		width: 300px;
	}
	.comment-box, .add-comment-box, .actual-comment p {
		width: 315px;
	}
	.delete-comment-button {
		margin-left: 215px;
		font-size: 12px;
		width: 100px !important;
	}
}
@media screen and (max-width: 400px) {
	.comment-global-gallery-img-container {
		width: 290px;
	}
	.comment-gallery-img {
		width: 250px;
	}
	.comment-box, .add-comment-box, .actual-comment p {
		width: 250px;
	}
	.delete-comment-button {
		margin-left: 155px;
	}
	footer {
		font-size: 12px;
	}
}
#comment-textarea {
	margin: 0 0 20px 0;
	padding: 20px;
	border: none;
}
