body {
	display: flex;
	flex-direction: column;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	justify-content: space-between;
	min-height: 100vh;
}

header {
	display: flex;
	justify-content: space-around;
	background-color: #e3eced;
}
.navbar-container {
	display: flex;
	align-items: center;
	//justify-content: space-around;
}
@media screen and (max-width: 700px) {
	header {
		flex-direction: column;
		align-items: center;
		height: 14em;
	}
}

.user-button-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.user-button {
	height: 100%;
	width: 7em;
	font-size: 1.1em;
	border: none;
	outline: none;
	background-color: #e3eced;
	cursor: pointer;
	transition: background-color .3s;
}
.user-button:hover {
	background-color: #cce5e8;
}

.logo {
	text-decoration: none;
	color: #3e5154;
}
footer {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	background-color: #b0d6da;
	height: 6vh;
	text-align: center;
	flex-shrink: 0;
	align-self: flex-end;
}

.webcam-container {
	height: 100%;
	display: flex;
	justify-content: center;
}
@media screen and (max-width: 1024px) {
	html, body {
		height: auto;
	}
	.webcam-container {
		flex-direction: column;
		align-items: center;
	}
	#webcam-container-right {
		margin: 1em 0 1em;
	}
	.user-gallery-container {
		overflow-x: scroll !important;
		overflow-y: hidden !important;
		flex-direction: row !important;
		margin-top: 0 !important;
		width: 640px !important;
		height: 18em !important;
	}
	.user-gallery-img {
		padding: 0 1em 0 0 !important;
	}
	.trash-image-from-gallery {
		right: 35px !important;
	}
}
#webcam-wrapper {
	width: 640px;
	height: 480px;
	margin: 8em 0 2em;
	border: 2px solid black;
	position: relative;
	overflow: hidden;
}
.template-img {
	position: absolute;
	top: 0;
	left: 0;
	cursor: move;
}
#video, #picture-img, #picture-canvas {
	width: 640px;
	height: 480px;
}
#video {
	display: block;
}
#picture-img {
	display: none;
}
@media screen and (max-width: 700px) {
	#video, #picture-img, #webcam-wrapper, #picture-canvas {
		width: 480px;
		height: 360px;
	}
	#webcam-wrapper {
		margin-top: 4em;
	}
	.carousel-container, .picture-button-container, .user-gallery-container {
		width: 480px !important;
	}
	#upload-file-label {
		top: 10.5em !important;
		left: 14.5em !important;
	}
}
@media screen and (max-width: 500px) {
	#video, #picture-img, #webcam-wrapper, #picture-canvas {
		width: 360px;
		height: 270px;
	}
	.carousel-container, .picture-button-container, .user-gallery-container {
		width: 360px !important;
	}
	.take-picture-button, .taken-picture-button {
		width: 8em !important;
	}
	#upload-file-label {
		top: 7.5em !important;
		left: 10.5em !important;
	}
}
@media screen and (max-width: 400px) {
	#video, #picture-img, #webcam-wrapper, #picture-canvas {
		width: 312px;
		height: 234px;
	}
	.carousel-container, .picture-button-container, .user-gallery-container {
		width: 312px !important;
	}
	.take-picture-button, .taken-picture-button {
		width: 6em !important;
	}
	#upload-file-label {
		top: 6.3em !important;
		left: 8.8em !important;
	}
}
.picture-button-container {
	display: flex;
	width: 640px;
}
.take-picture-button {
	width: 135px;
	height: 45px;
	font-size: 0.8em;
	padding-left: 8px;
	border: none;
	background-color: #b0edf2;
	cursor: pointer;
	color: #626a6b;
	box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
	transition: background-color .3s;
	outline: none;
	transition: visibility 500ms linear 900ms, opacity 500ms;
	opacity: 1;
}
.take-picture-button:hover {
	background-color: #88dae0;
}
.take-picture-button:active {
	border: none;
	background-color: #9cd2d6;
}
.take-picture-button:focus {
	border: none;
}
.taken-picture-button {
	width: 10em;
	height: 3.5em;
	font-size: 0.8em;
	padding-left: 0.5em;
	border: none;
	background-color: #fff;
	cursor: not-allowed;
	color: #626a6b;
	box-shadow: 0 1px 1px rgba(0, 0, 0, .3);
	transition: background-color .3s;
	outline: none;
	transition: visibility 500ms linear 900ms, opacity 500ms;
	opacity: 1;
}
#picture-canvas {
	display: none;
}

.carousel-container {
	display: flex;
	align-items: center;
	height: 18em;
	width: 640px;
	overflow-x: scroll;
	overflow-y: hidden;
	white-space: nowrap;
	margin-top: 1em;
}
.carousel-container-wrapper {
	display: flex;
	flex-direction: column;
}
.img-wrapper {
	position: relative;
	display: flex;
	align-items: center;
	width: 8em;
	height: 14em;
	//background-color: #eef0f1;
	padding: 0 1.5em 0;
}
.img-wrapper:hover {
	opacity: 0.8;
}
.img-carousel {
	width: 8em;
	cursor: pointer;
}
.icon-wrapper {
	visibility: hidden;
	display: flex;
	justify-content: space-around;
}

.user-gallery-container {
	display: flex;
	align-items: center;
	height: 480px;
	width: 318px;
	overflow-x: hidden;
	overflow-y: scroll;
	white-space: nowrap;
	margin-top: 8.15em;
	flex-direction: column;
}
.user-image-container {
	position: relative;
}
.user-gallery-img {
	width: 15em;
	padding: 0 0 1em;
}
#upload-file {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
#upload-file-label {
	position: absolute;
	color: rgb(110, 180, 185, 0.6);
	font-size: 30px;
	cursor: pointer;
	top: 14.4em;
	left: 19.6em;
}
.download-image-from-gallery, .trash-image-from-gallery {
	position: absolute;
	color: rgb(110, 180, 185, 0.6);
	font-size: 30px;
	top: 140px;
	cursor: pointer;
}
.download-image-from-gallery:hover, .trash-image-from-gallery:hover, #upload-file-label:hover {
	color: rgb(138, 144, 144, 0.6);
}
.download-image-from-gallery:active, .trash-image-from-gallery:active, #upload-file-label:active {
	color: rgb(77, 111, 113, 0.6);
}
.download-image-from-gallery {
	left: 20px;
}
.trash-image-from-gallery {
	right: 20px;
}

.size-icon {
	cursor: pointer;
	padding: 8px;
	border-radius: 3px;
	font-size: 20px;
}
.size-icon:active {
	color: #dcd7d7;
}
.rotated-icon-40 {
	transform: rotate(40deg);
}
.rotated-icon-230 {
	transform: rotate(230deg);
}
